body {
    background-color: rgb(44, 44, 44);
}

.main {
    display:block;
    height: 100vh;
    padding: 20px;
}

.intro_main {
    display: flex;
    padding: 0 200px;
    justify-content: space-between;
}

.intro_text {
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

.intro_item {
    margin-top: auto;
    margin-bottom: auto;
}

.intro_item_but {
    margin-top: auto;
    margin-bottom: auto;
    border: #fff solid;
    border-radius: 10%;
}